:root {
    --primary-color: #2d3142;
    --background-one: #4186cf;
    --background-two: #a9d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

body {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        var(--background-one),
        var(--background-two)
    );
}

section:first-child {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;
}

#stopwatch-screen {
    margin-bottom: 2rem;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 8rem;
}

button {
    font-size: 5rem;
    padding: 1rem 1.5rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-two);
}
